
footer {
    background-image: url('src/assets/Capture d’écran 2024-04-02 à 19.37.51.png');
    display: flex;
    flex-direction: row;
    color: #191a27;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    justify-content: space-between;
    transition: background-color 0.5s ease, color 0.5s ease;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

footer:hover {
    background-color: #817e24;
    color: #131212;
}

h2 {
    font-size: 15px;
    margin-top: 16px;
    margin-left: 22px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 1rem;
    margin-right: 2rem;
}

li {
    margin-bottom: 5px;
    cursor: pointer;
}


li:hover {
    color: #ffcc00;
}


canvas{
    width:100%; height:100px;
    background: rgba(21, 21, 21, 0);
}