.main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow: clip;
}

.image-main{
    width: 300px !important;
    border-radius: 100%;
    box-shadow: 5px 3px 25px white;
}

.bouton{
    box-shadow: 5px 3px 25px white;
    width: 100px;
    border: 1px solid black;
    background-color: brown;
    position: absolute;
    padding: 20px;
    z-index: 1000;
    margin-bottom: -200px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}




.container{
    background-image: url('../assets/background2.jpg');
    background-repeat: no-repeat;
    background-size: 100vh;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}


.name{
    text-align: center;
    position: relative;
    color:white;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    left:-207px;
    top: 97px;
}

header{
    width: 100vw;
}